@font-face {
    font-family: 'futura_stdbold';
    src: url(../fonts/futura_std_bold-webfont.eot);
    src: url(../fonts/futura_std_bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/futura_std_bold-webfont.woff2) format('woff2'),
         url(../fonts/futura_std_bold-webfont.woff) format('woff'),
         url(../fonts/futura_std_bold-webfont.ttf) format('truetype'),
         url(../fonts/futura_std_bold-webfont.svg#futura_stdbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
		
}

#TonyIMG{
	background-image:url(../images/tony.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:cennter center;
	height:100%;
	width:100%;
}
#mainPage li{
	margin-bottom:30px;
}

h1{
	font-size:80px;	
	padding-left:10px;
	font-family: 'futura_stdbold';
	width:642px;
	background-color:black;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-transform: uppercase;
	text-align:center;
	letter-spacing:3px;
	padding-top:30px;
	padding-bottom:30px;
}

#censorTitle{
	z-index:-10;
	margin-top:-190px;
	margin-bottom:55px;
	font-size:80px;	
	text-align:center;
	font-family: 'futura_stdbold';
	color:#747474;
}

#mainChoice{
	width:306px;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	font-size:100px;
	font-family: 'futura_stdbold';
}

	#mainChoice a{
		float:left;
		margin-right:30px;
		background-color:#000;
	
	}
	
	#mainChoice a{
		display:block;
		text-decoration:none;
		color:#fff;	
		width:80px;
		margin-right:15px;
		text-align:center;

	}
	
	#mainChoice a:hover{
		color:#000;	
	}

	#numberOne:hover{
		background-image:url(../images/button2.jpg);
	}
	
	#numberTwo:hover{
		background-color:#00bff3;
	}
	
	#numberThree:hover{
		background-color:#00db02;	
	}



#container{
	width:642px;
	margin-left:auto;
	margin-right:auto;
	font-family: 'futura_stdbold';
	background-color:#000;
}

nav{
	background-color:#fff;
	border:thick;
	border-color:#000;
	border-style:solid;
	color:#000;
	padding:15px;	
}

	nav a{
		color:#000;
		text-decoration:none;
		font-size:32px;
		letter-spacing:1px;
	}



#myForm{
	width:306px;
	margin-left:auto;
	margin-right:auto;	
}
	
input{
	font-family: 'futura_stdbold';
	padding: 6px;
	border-style: none;
	font-size: 10pt;
	text-decoration: none;
	width: 175px;
	margin-top:15px;

}

#myForm [type="text"]{
	background-color:white;
	margin-left:60px;
}


#myform[type="submit"]{
	text-decoration: none;
	padding:5px 5px; 
	background:#fff; 
	border: none;
	width: 306px;
	text-transform: uppercase;
}
	input[type="submit"]:hover{
		color:#000;
		cursor:pointer;
	}

.submitButton{
	color:#f00;
    font-family: 'futura_stdbold';
	width:306px;
	height:50px;
	background-color:#fff;
	border-style:none;
	font-size:25px;
	text-transform:uppercase;
	margin-bottom:30px;
	margin-top:30px;
}
	.submitButton hover{
		cursor:pointer;
	}


p{
	width:306px;
	margin-right:auto;
	margin-left:auto;
	font-size:16px;
	line-height:26px;
	font-family: 'futura_stdbold';
	z-index:1;
}

.pulp{
		background-color:#00fcd4;

}

.vincent{
	margin-top:30px;
	margin-bottom:30px;
	background-color:#00DB02;
	padding:15px;
		z-index:1;

	
}

	#vincentImg{
		float:right;
		background-image:url(../images/vincent.png);
		width:306px;
		height:369px;
		background-size:contain;
		z-index:-1;
		
	}
	

.jules{
	background-color:#00bff3;
	padding:15px;
	z-index:-1;
	
}
	#julesImg{
		width:306px;
		height:369px;
		background-image:url(../images/jules.png);
		background-size:contain;
		z-index:-1;
		float:left;	
	}
	
#tony{
	background-color:#00db02;
	padding:15px;
	z-index:10;
	
}

	
.tony{
	background-color:#00db02;
}



.walter{
	background-color:#00bff3;
	padding:15px;
	z-index:-1;
	margin-top:15px;
}

#walterImg{
	background-image:url(../images/walter.png);
	background-attachment:fixed;
	background-size:100%;
	background-position:right bottom;
	background-repeat:no-repeat;
}

.lebowski{
	background-color:#00bff3;	
}
	
.input{
	opacity:0;
	visibility:hidden;
	transition: border 1s;
	font-size:32px;
	color:red;
}

#backButton{
	display:block;
	width:336px;
	height:50px;
	border-style:none;
	font-size:25px;
	text-transform:uppercase;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:-15px;;
	padding-top:20px;
	text-align:center;
	text-decoration:none;
	color:#fff;
}

	#backButton:hover{
		color:#000;	
	}

#youtube{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:336px;
	height:215px;
}



