@font-face {
    font-family: 'gotham_blackregular';
    src: url(../fonts/gotham-black-webfont.eot);
    src: url(../fonts/gotham-black-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/gotham-black-webfont.woff2) format('woff2'),
         url(../fonts/gotham-black-webfont.woff) format('woff'),
         url(../fonts/gotham-black-webfont.ttf) format('truetype'),
         url(../fonts/gotham-black-webfont.svg#gotham_blackregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url(../fonts/gotham-medium-webfont.eot);
    src: url(../fonts/gotham-medium-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/gotham-medium-webfont.woff2) format('woff2'),
         url(../fonts/gotham-medium-webfont.woff) format('woff'),
         url(../fonts/gotham-medium-webfont.ttf) format('truetype'),
         url(../fonts/gotham-medium-webfont.svg#gothammedium) format('svg');
    font-weight: normal;
    font-style: normal;
}


html,body{
	height:100%;	
}

html, body:before, html,  body:after {
    content: "";
    position: fixed;
    background: #000;
    left: 0;
    right: 0;
    height: 10px;
}
	html, body:before {
		top: 0;
	}
	html, body:after {
		bottom: 0;
	}
	html, body {
		border-left: 10px solid #000;
		border-right: 10px solid #000;  
	}
	
	#top{
		height:10px;
		width:100%;
		position:fixed;
		background-color:#000;
		display:block;
		z-index:100;
	}

section{
	height:100%;
	
}

marquee{
	height:100%;	
}

li{
	margin-bottom:80px;	
	text-decoration:none;
	text-shadow:none;
	font-family: 'gotham_blackregular';

}

.column{
	float:left;
	height:100%;	
	position:absolute;
	margin-top:-10px;
	
}

.columnHorizontal{
	float:left;
	width:100%;	
	position:absolute;
}

	#first{
		z-index:1;
	}
	
	#second{	
		z-index:2;
	}
	
	#third{
		z-index:3;
	}
	
	#seventh{
		position:absolute;
		bottom:-80px;	
	}
	
	
/*faceflip*/
.card {
        width: 200px;
        height: 264px;
      }
       .back {
		background-image:url(../images/dom-back.png);
		background-size:contain;
		background-repeat:no-repeat;
		padding:30px;
      }
      .front {
		background-image:url(../images/dom.png);
		background-size:contain;
		background-repeat:no-repeat;
      }
		
#myBody #enter{
	position:absolute;
	margin-left:40%;		
	z-index:100;
	display:block;
	width:200px;
	margin-top:200px;
}
	
	#myBody .myButton{
		display:block;
		padding:10px;
		background-color:red;
		text-align:center;
		text-decoration:none;
		font-family: 'gotham_blackregular';
		color:#fff;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
	}
	
	#myBody a{
		text-shadow:none;
	}
	
	#myBody a:hover{
		color:#000;	
	}
		
p{
	text-shadow:none;	
	font-family: 'gothammedium';
	color:#fff;
}

.backButton{
	text-align:center;
	width:85px;
	height:30px;
	padding-top:10px;
	margin-top:20px;
	display:block;
	color:red;
	text-decoration:none;
	background-color:#fff;	
	margin-left:auto;
	margin-right:auto;
}
	
	
#pageTwoContainer{
	background-color:red;
	height:100%;
	color:#fff;
}
	#domFace{
		margin-left:auto;
		margin-right:auto;
		display:block;
		width: 200px;
        height: 264px;
		margin-top:82px;
	}
	
	h1{
		font-family: 'gotham_blackregular';
		text-align:center;
		font-size:36px;
		letter-spacing:2px;
		line-height:50px;
		margin-left:auto;
		margin-right:auto;
		height:36px;
		padding-top:82px;
	}
	
	#myBody .myButton2{
		display:block;
		padding:10px;
		background-color:#fff;
		text-align:center;
		text-decoration:none;
		font-family: 'gotham_blackregular';
		color:red;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		width:200px;
	}