@font-face {
    font-family: 'gotham_blackregular';
    src: url(../fonts/gotham-black-webfont.eot);
    src: url(../fonts/gotham-black-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/gotham-black-webfont.woff2) format('woff2'),
         url(../fonts/gotham-black-webfont.woff) format('woff'),
         url(../fonts/gotham-black-webfont.ttf) format('truetype'),
         url(../fonts/gotham-black-webfont.svg#gotham_blackregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothammedium';
    src: url(../fonts/gotham-medium-webfont.eot);
    src: url(../fonts/gotham-medium-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/gotham-medium-webfont.woff2) format('woff2'),
         url(../fonts/gotham-medium-webfont.woff) format('woff'),
         url(../fonts/gotham-medium-webfont.ttf) format('truetype'),
         url(../fonts/gotham-medium-webfont.svg#gothammedium) format('svg');
    font-weight: normal;
    font-style: normal;

}

#progress {
    background: none repeat scroll 0 0 #ddd;
    border: 2px solid #000;
    display: block;
    height: 20px;
    position: relative;
    width: 87.5%;
	margin-left:auto;
	margin-right:auto;
	margin-top:313px;
}
#progress > span {
    background: none repeat scroll 0 0 red;
    box-shadow: 0 0 0 1px #ddd inset, 0 0 0 2px red inset;
    display: inline-block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 20;
}




	
	/*main page*/
	header{
		height:105px;
		font-size:24px;
		padding-top:20px;
		font-family: 'gotham_blackregular';	
		text-align:center;
		letter-spacing:3px;
	}
	
		#header{
			
			
		}
		
		#red2{
			color:red;
			font-size:35px;	
		}
		
		
		#rule1{
			height:6px;
			width:15%;
			background-color:#000;	
			float:left;
			margin-top:20px;
			margin-left:3.571%;
		}
		
		#rule2{
			height:6px;
			width:15%;
			background-color:#000;	
			float:right;
			margin-top:20px;
			margin-right:3.571%;

		}
		
		h1{
			color:#000;	
		}
	
	#welcomeImg{
		background-image:url("../images/welcome.jpg");
		display:block;
		height:219px;
		width:280px;
		background-color:red;
		margin-left:auto;
		margin-right:auto;
		background-size:cover;
		z-index:-100;
	}
	
	p{
		font-family: 'gothammedium';
		font-size:11px;
		line-height:16px;	
		clear:both;
	}
	
		#mainP{
			margin-left:7.142%;
			margin-right:7.142%;
		}

	#myBody .myButton{
		display: block;
		width:87.5%;
		height:45px;
		margin-top:10%;
		background-color:red;
		color:#fff;
		text-align:center;
		line-height:45px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;;
		text-decoration:none;
		text-shadow:none;
		font-family: 'gotham_blackregular';	
		letter-spacing:2px;
		
	}
	
	.border{
		height:20px;
		width:100%;
		background-color:#000;
	}
	
	/*nav*/
	nav{
		background-color:#000;
		color:red;
		font-family: 'gotham_blackregular';	
		padding-top:20px;
		height:50px;
		padding-right:7.142%;
		padding-right:7.142%;
	}
		#myBody nav a{
			color:red;
			text-decoration:none;	
			text-shadow:none;
			letter-spacing:3px;
			font-size:20px;
		}
	
	#brand li{
		float:left;
	}	
	
		#logo{
			width:23px;
			margin-right:3px;	
		}
		
		#top10Link{
			padding-top:1px;
			
		}
	
	#menu{
		float:right;
		width:27px;
		display:block;
		padding-top:5px;
		
	}
	
		
		
		
	/*list page*/
	
	
	
	
	#myBody .list a{
		text-decoration:none;
		text-shadow:none;
		color:#000;
		font-size:150px;
		font-family: 'gothammedium';
	}
	
	.listworkaround{
		position:relative;	
	}
	
	.listworkaround2{
		position:absolute;
		display:block;
		width:100%;
		z-index:1;
	}
	
		.list{
			text-align:center;

		}
		
		#myBody #numba1 {
			background-color:red;
			color:#fff;	
			margin-left:7.142%;
			margin-right:7.142%;
			margin-bottom:20px;
		}
		
			#myBody #numba1 a{
				color:#fff;	
			}
	
	
	/*song page*/
	#myBody .song{
		background-color:#666;
		height:280px;
		width:100%;
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
		background-color:white;
	}
	
		#myBody .playPauseButton{
			display:block;
			height:177px;
			width:55px;
			background-image:url("../images/play.svg");	
			background-position:bottom;
			margin-left:auto;
			margin-right:auto;
			background-repeat:no-repeat;
			opacity: 0.75;
    			filter: alpha(opacity=75);
			
		}
		
		.playing{
			display:block;
			height:177px;
			width:55px;
			background-image:url("../images/pause.svg");	
			background-position:bottom;
			margin-left:auto;
			margin-right:auto;
			background-repeat:no-repeat;
			opacity: 0.75;
    			filter: alpha(opacity=75);
			
		}
		
		.audioHolder{
			display:none;
		}
	#info{
		width:87.5%;
		
		margin-left:auto;
		margin-right:auto;	
	}
	
	h3{
		font-size:150px;	
		font-family: 'gothammedium';
		color:#000;
		text-align:center;
	}
	
	h4{
		font-size:30px;	
		letter-spacing:2px;
		line-height:35px;
		font-family: 'gotham_blackregular';
		color:red;	
	}
	
	h5{
		font-size:18px;	
		font-family: 'gotham_blackregular';
		color:#000;	
		margin-bottom:20px;	
		margin-top:10px;
	}
	
	#data{
		font-family: 'gothammedium';	
		font-size:11px;
		margin-top:20px;
		margin-bottom:60px;
		height:100%;
		width:100%;
		
	}
	
		th{
			width:50%;
			text-align:left;	
		}
		
		.red{
			color:red;
		}
		
		.black{
		    font-family: 'gotham_blackregular';
	
		}
		
		#names{
			float:left;	
		}
		
		#numbers{
			float:right;	
		}
		
	footer{
		
	}
	
		#lastButton{
			background-image:url("../images/	first.svg");
			height:20px;
			width:20px;
			background-size:cover;
			display:block;
			float:left;
		}
		
		#nextButton{
			background-image:url("../images/	last.svg");
			height:20px;
			width:20px;
			background-size:cover;
			display:block;
			float:right;
		}
		
	#acidRap{
		background-image:url("../images/acidrap.jpg");
		background-size:contain;
	}
	
	#thuggin{
		background-image:url("../images/thuggin.jpg");
		background-size:100%;
	}
	
	#blueDanube{
		background-image:url("../images/bluedanube.jpg");
		background-size:110%;
	}
	
	#cream{
		background-image:url("../images/cream.jpg");
		background-size:contain;
	}
	
	#beethoven{
		background-image:url("../images/beethoven.jpg");
		background-size:contain;
	}
	
	#aquemini{
		background-image:url("../images/aquemini.jpg");
		background-size:contain;
	}
	
	#rappersDelight{
		background-image:url("../images/rappersdelight.jpg");
		background-size:contain;
	}
		
	#breathe{
		background-image:url("../images/breathe.jpg");
		background-size:contain;
	}
	
	#forgotAboutDre{
		background-image:url("../images/forgotaboutdre.jpg");
		background-size:contain;
	}
	
	#bohemian{
		background-image:url("../images/bohemian.jpg");
		background-size:cover;	
	}
	
/* MOBILE STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px){
	.ui-page.ui-page-theme-a.ui-page-active {
		background-color:#000;
	}
	footer{
		position:fixed;	
		padding-left:7.142%;
		padding-right:7.142%;
		margin-left:-7.142%;
		width:77.5%;
		
		clear:both;	
		background-color:#000;
		padding-top:20px;
		height:40px;
		bottom:0px;
		z-index:1;
		display:block;	
		margin-left:auto;
		margin-right:auto;
	}
	
	#container{
		margin-left:auto;
		margin-right:auto;
		background-color:#fff;
		border-style: solid;
			border-width: 10px;
			border-color:black;/*
		height:100%;*/
		width:87.5%;
	}

}

/* TABLET STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/


/* DESKTOP STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 768px){
	#container{
		margin-left:auto;
		margin-right:auto;
				background-color:#fff;

		width:300px;
		height:559px;
		margin-top:130px;
		border-style: solid;
    	border-width: 10px;
		border-color:black;
		overflow:auto;
	}
	section{
		postion:relative;
		
	}
	
	#phone{
		background-image:url(../images/iphone5_port_black.png);
		width:390px;			
		height:825px;
		display:block;
		background-size:392px 825px;
		margin-left:auto;
		margin-right:auto;
	}
	
	footer{
		width:245px;
		margin-left:-17px;
		padding:20px;
				
		clear:both;	
		background-color:#000;
		
		height:40px;
		bottom:0;
		z-index:1;
		margin-left:auto;
		margin-right:auto;
	}
	
		#myBody .myButton{
		
		margin-bottom:36px;;
		
		
	}
}

